*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-image: url(../img/background.webp);
    background-size:cover;
    background-repeat:no-repeat;
    
}
/* TODO O PORTIFÓLIO */
#port-container{
    text-align: center;

}

/* ------- HEADER  ------ */

/* BOTÃO */
#btn-back{
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

#btn-back img{
    width: 30px;
}

/* btn hover */
#btn-back img:hover{
    box-shadow: 2px 2px 6px;
    color: black;
    transition: 0.3s;
}

/* --------------- textos ------------------*/

.title{
    margin-bottom: 2rem;
}

.text{
    font-size: 1.3rem;
    line-height: 1.9rem;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 6px;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

/* -------- contatos ------------ */


#contatos-container{
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.068);
    width: 18rem;
    margin: auto;
    border-radius: 8px;
}

#contatos-container h3{
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
}

#contatos-container img{
   width: 35px;

}

#icons-container img:hover{
    width: 40px;
    transition: 0.3s;
    
}



/* ------ reponsividade -------- */

@media (max-width: 450px) {
    #port-container{
        margin-top: -2rem;
    }

    #contatos-container{
        width: 100%;
    }
}